header{
    
}
body{
    background-color: gray;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.5;
    font-size: 25px;
    padding: 5px;
}
p{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

table{
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
}
td,tr{
    border: 1px solid black;
}
a.button{
    background-color: white;
    color: red;
    padding: 5px;
    cursor: pointer;
    border: 1px solid black;
}
img{
    display: block;
    margin: 0 auto;
    width: 500px;
    height: 500px;
}
